@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Seja Bem-vindo - CRUD  </h1> </br>
    <p> Projeto de cadastro de usuário, utilizando MVC - Model View Controller. </p>
    <p> Criado com o intuíto de Cadastrar, Deletar, Editar e Excluir usuários do banco de dados.</p>
</div>